.grid-container {
    display: grid;
    /* 8 columns */
    grid-template-columns: 12% 12% 12% 12% 12% 12% 12% 12% ;
    background-color: rgb(244, 230, 205);
    padding: 0px;
}

.card {
    background-color: whitesmoke;
    border: 4px solid black;
    padding: 0px;
    margin: 2px;
    text-align: center;
}

.set {
    height: 30px;
    border-bottom: 4px solid black; 
}

.set-brown {
    background-color: brown;
}

.set-blue {
    background-color: lightblue;
}

.set-pink {
    background-color: pink;
}

.set-orange {
    background-color: orange;
}

.set-red {
    background-color: red;
}

.set-yellow {
    background-color: yellow;
}

.set-green {
    background-color: green;
}

.set-purple {
    background-color: purple;
}

.set-clear {
    border-bottom: 4px solid whitesmoke;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.players {
    height: 20px;
}

.player {
    font-size: 20px;
    display: none;
}

.player-show {
    display: inline;
}

#dice {
    grid-row: 4;
    grid-column: 4;
    border: 1px solid red;
}

#go {
    grid-row: 8;
    grid-column: 1
}

#old-kent {
    grid-row: 7;
    grid-column: 1
}

#whitechapel {
    grid-row: 6;
    grid-column: 1
}

#kings-cross {
    grid-row: 5;
    grid-column: 1
}

#angel {
    grid-row: 4;
    grid-column: 1
}

#euston {
    grid-row: 3;
    grid-column: 1
}

#pentonville {
    grid-row: 2;
    grid-column: 1
}

#jail {
    grid-row: 1;
    grid-column: 1
}

#pall-mall {
    grid-row: 1;
    grid-column: 2
}

#whitehall {
    grid-row: 1;
    grid-column: 3
}

#northumberland {
    grid-row: 1;
    grid-column: 4
}

#bow {
    grid-row: 1;
    grid-column: 5
}

#marlborough {
    grid-row: 1;
    grid-column: 6
}

#vine {
    grid-row: 1;
    grid-column: 7
}

#parking {
    grid-row: 1;
    grid-column: 8
}

#strand {
    grid-row: 2;
    grid-column: 8
}

#fleet {
    grid-row: 3;
    grid-column: 8
}

#trafalgar {
    grid-row: 4;
    grid-column: 8
}

#leicester {
    grid-row: 5;
    grid-column: 8
}

#coventry {
    grid-row: 6;
    grid-column: 8
}

#picadilly {
    grid-row: 7;
    grid-column: 8
}

#go-to-jail {
    grid-row: 8;
    grid-column: 8
}

#regent {
    grid-row: 8;
    grid-column: 7
}

#oxford {
    grid-row: 8;
    grid-column: 6
}

#bond {
    grid-row: 8;
    grid-column: 5
}

#fenchurch {
    grid-row: 8;
    grid-column: 4
}

#park {
    grid-row: 8;
    grid-column: 3
}

#mayfair {
    grid-row: 8;
    grid-column: 2
}
